.match {
    border-top: 1px solid #f0f0f0;
    padding: 10px;
    text-align: center;
}

.match:nth-child(odd) {
    background: #fafafa;
}

.match img {
    height: 60px;
}

.match .teamName {
    font-size: 18pt;
}

.match .teamName .players {
    font-size: 10pt;
}

.match .score {
    font-size: 24pt;
}

.summary tbody img {
    height: 20px;
}

.summary td:nth-child(1){
    width: 300px;
}

.summary th:nth-child(2) {
    font-size: 24pt;
}