
#prv {
    margin: 10px;
    border: 5px solid #002951;
    border-radius: 5px;
    text-align: center;
    width: 1400px;
    position: relative;
}

#prv .row {
    margin-left: 2px;
    margin-right: 2px;
}

#head {
    background: rgb(253,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(253,255,255,1) 0%, rgba(217,237,247,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(253,255,255,1)), color-stop(100%,rgba(217,237,247,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(253,255,255,1) 0%,rgba(217,237,247,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(253,255,255,1) 0%,rgba(217,237,247,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(253,255,255,1) 0%,rgba(217,237,247,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(253,255,255,1) 0%,rgba(217,237,247,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdffff', endColorstr='#d9edf7',GradientType=0 ); /* IE6-9 */
}

#head {
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-size: 16pt;
    text-align: center;
    padding: 0;
    position: relative;
    border-bottom: 3px solid #002951;
    border-radius: 5px 5px 0px 0px;
}

#head #leagueName {
    background: transparent;
    position: absolute;
    left: 20px;
}
#head #tourNumber {
    position: absolute;
    right: 0;
    width: 100px;
    border-left: 1px solid #002951;
    background: transparent;
}

.match {
    border-top: 1px solid #f0f0f0;
    padding: 10px;
    text-align: center;
}

.match:nth-child(odd) {
    background: #fafafa;
}

.match img {
    height: 60px;
}

.match .teamName {
    font-size: 18pt;
}

.match .teamName .players {
    font-size: 10pt;
}

.match .score {
    font-size: 24pt;
}

#summaryhead {
    text-align: center;
}

.summary thead img {
    height: 40px;
}

.summary tbody img {
    height: 20px;
}

.summary th {
    font-size: 16pt;
}

.summary td:nth-child(1){
    width: 300px;
}

.summary .recordTour {
    font-size: 90%;
}