.field-container {
    width: 700px;
}

#players  td {
    text-align: center;
    line-height: 33px;
    border: 0;
}

#field {
    width: 375px;
    height: 423px;
    background: rgba(15, 156, 0, 0.49);
    position: absolute;
}

#field .player {
    position: absolute;
    font-size: 10pt;
    width: 175px;
    height: 25px;
    text-align: center;
    color: #efefef;
    font-weight: 900;
}

#field .player img {
    width: 35px;
    height: 35px;
}

#field .ST {
    margin-top: 2%;
    margin-left: 25%;
}

#field .LM {
    margin-top: 18%;
    left: 0;
}

#field .RM {
    margin-top: 18%;
    right: 0;
}

#field .CM {
    margin-top: 40%;
    margin-left: 25%;
}

#field .LB {
    margin-top: 60%;
    left: 0;
}
#field .RB {
    margin-top: 60%;
    right: 0;
}

#field .CB {
    margin-top: 75%;
    margin-left: 25%;
}
#field .GK {
    margin-top: 95%;
    margin-left: 25%;
}