.container-fluid {
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 800px;
}

.btn {
    min-height: 60px;
    font-size: 18pt;
    font-weight: 900;
}
.btn .smallText {
    font-size: 14pt;
}


.btn-default {
    background-color: #fff !important;
}
.btn-selected {
    background-color: rgba(0, 193, 0, 0.27) !important ;
}
.btn-selected-yellow {
    background-color: rgba(232, 237, 45, 0.27) !important ;
}
.btn-selected-red {
    background-color: rgba(255, 0, 0, 0.67) !important ;
}

.playerEvent {
    min-width: 60px;
    margin: 5px;
}

.form-control {
    min-height: 60px;
    font-size: 18pt;
    font-weight: 900;
}
.navbar {
    font-size: 18pt;
    font-weight: 900;
}

.goalEventType {
    font-size: 14pt;
}
#goal .playerEvent {
    position: relative;
}

#goal .playerEvent .goals {
    font-size: 8pt;
    position: absolute;
    top: 0;
    left: 0;
}

#goal .playerEvent .assists {
    font-size: 8pt;
    position: absolute;
    top: 0;
    right: 0;
}

.separation-row {
    background: #e0e0e0;
    border: 1px solid #aaa;
}
.separation-row td {
    padding: 1px 5px 1px 5px !important;
    font-weight: 900;
    border: 1px solid #aaa  !important;
}

.navbar {
    height: 50px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    line-height: 35px;
}

.navbar, .navbar a {
    color: #777;
}
.navbar a:hover {
    text-decoration: none;
    color: #555;
    cursor: pointer;
}

.navbar-button {
    font-size: 20pt;
    line-height: 35px;
}
.navbar-right {
    float: right;
}
.navbar-left {
    float: left;
}

.ajaxLoad {
    display: none;
    text-align: center;
    margin-bottom: 5px;
    height: 40px;
    line-height: 30px;
}

.roster .number {
    font-size: 20pt;
}
.roster .name {
    font-size: 16pt;
}

.roster .out {
    background-color: #DDD;
    color: #999;
}

.btn-logo {
    height: 25px;
    border: 1px solid #ccc;
    cursor: default;
    background: #f9f9f9;
}
.control-panel {
    text-align: center;
}